<!doctype html>
<%- include("head"); %>
<body id="page">
  <nav>
    <h1>I'm sorry Dave, I'm afraid I cannot do that!</h1>
  </nav>
  <article style="display: flex; justify-items: center;align-content: center; align-items: center;">
    <img alt="NOPE!" src="/HAL9000.svg" style="width:128px; margin-right: 2em;">
    <h2><%=error%></h2>
  </article>
  <%- include("footer"); %>
</body>
