<footer>
  <em>Powered by <%=NAME%> &mdash; <%=MOTTO%></em>
  <a href="/">Home</a>
  <a href="/new">New Room</a>
  <a href="/rules">Rules</a>
  <a href="/top/uploaded">Top Users</a>
  <a href="https://github.com/kregfile/kregfile" target="_blank"><span class="i-gitgud"></span></a>
  <a href="https://twitter.com/kregfile"><span class="i-twatter"></span></a>
</footer>
