<footer>
  <em>Powered by kregfile &mdash; Made with rice</em>
  <a href="/">Home</a>
  <a href="/rules">Rules</a>
  <a href="https://github.com/RealDolos/kregfile"><span class="i-gitgud"></span></a>
  <a href="https://twitter.com/dolosthegreat"><span class="i-twatter"></span></a>
</footer>
