<!doctype html>
<%- include("head"); %>
<body id="page">
  <nav>
    <h1 id="name"><%=NAME%> - 100% more rice</h1>
  </nav>
  <article>
    <p>Because, really, everybody likes rice!</p>
    <h2>Just try it</h2>
    <p>Visit <a href="/r/BEEPi">BEEPi</a></p>
    <p>Or just <a href="/new">make a new room</a></p>
  </article>
  <%- include("footer"); %>
</body>
