<!doctype html>
<%- include("head"); %>
<body id="page">
  <nav>
    <h1 id="name">Wat are you doink?!</h1>
  </nav>
  <article>
    <h3>This does not even exist! Literally!</h3>
    <figure>
      <img src="/404.jpg" style="height:50vh;" alt="Go eat something!">
      <figcaption>Go eat something!</figcaption>
    </figure>
    <p>
      p-pls.
      Also, I know a guy who says of himself (quoting verbatim)
      <q>I have: (1)a law degree; (2)a license to practice law; (3)do work for money that requires a law license. Yeah, I'd have to say that makes me a lawyer. A seasoned-lawyer?       Maybe not, but a lawyer nonetheless.</q>
    </p>
    <p>
      And also
      <q>Alright, fuckwit. What's your evidence for doubting I'm a lawyer?</q>
      See, he said "evidence", so it must be true!
    </p>
  </article>
  <%- include("footer"); %>
</body>

