<!doctype html>
<%- include("head"); %>
<body id="room">
  <nav id="main">
    <div>
      <button id="menu" class="i-menu"></button>
    </div>
    <h1 id="name">kregfile - better than volafile - 100% more rice</h1>
    <div></div>
  </nav>

  <nav id="tools">
    <button id="filter-image" class="filterbtn i-image-b"></button>
    <button id="filter-video" class="filterbtn i-video-b"></button>
    <button id="filter-audio" class="filterbtn i-audio-b"></button>
    <button id="filter-document" class="filterbtn i-document-b"></button>
    <button id="filter-archive" class="filterbtn i-archive-b"></button>
    <button id="filter-file" class="filterbtn i-file-b"></button>
    <input id="filter" placeholder="Filter files…" type="text" autocomplete="off" required>
    <button id="filter-clear" class="disabled i-clear"></button>
    <div id="filter-status" class="i-filter"></div>
    <div class="spacer"></div>
    <div id="nail" class="btn i-images"></div>
    <form style="display: none;">
      <input id="upload-button" name="upload-button" type="file" multiple="multiple">
    </form>
    <label for="upload-button" id="up" class="btn i-upload"></label>
  </nav>

  <section id="chat">
    <section id="messages"></section>
  </section>

  <section id="status">
    <div id="usercountcont" title="Users online"><span class="i-users"></span><span id="usercount">0</span></div>
    <div id="endmarker" class="blink hidden" title="Go to new messages">▼</div>
    <input type="text" id="nick">
  </section>

  <section id="chatbox">
    <textarea id="text" placeholder="Chat…" rows="3" maxlength="300"></textarea>
  </section>

  <section id="dropminder">
    <svg version="1.1" viewBox="-25 -25 1050 1050" xmlns="http://www.w3.org/2000/svg">
     <rect width="1e3" height="1e3" rx="100" fill="none" stroke="#434343" stroke-dasharray="0 600 357.07963268 0" stroke-dashoffset="-100" stroke-width="50px" "/>
     <g fill="#454545" stroke-width="1px" aria-label="Drag files here">
      <path d="m269.17 184.38v94.896h14.375q24.583 0 37.5-12.188 13.021-12.188 13.021-35.417 0-23.125-12.917-35.208-12.917-12.083-37.604-12.083zm-40.104-30.312h42.292q35.417 0 52.708 5.1042 17.396 5 29.792 17.083 10.938 10.521 16.25 24.271t5.3125 31.146q0 17.604-5.3125 31.458-5.3125 13.75-16.25 24.271-12.5 12.083-30 17.188-17.5 5-52.5 5h-42.292z"/>
      <path d="m491.15 224.69q-4.8958-2.2917-9.7917-3.3333-4.7917-1.1458-9.6875-1.1458-14.375 0-22.188 9.2708-7.7083 9.1667-7.7083 26.354v53.75h-37.292v-116.67h37.292v19.167q7.1875-11.458 16.458-16.667 9.375-5.3125 22.396-5.3125 1.875 0 4.0625 0.20833 2.1875 0.10417 6.3542 0.625z"/>
      <path d="m562.19 257.08q-11.667 0-17.604 3.9583-5.8333 3.9583-5.8333 11.667 0 7.0833 4.6875 11.146 4.7917 3.9583 13.229 3.9583 10.521 0 17.708-7.5 7.1875-7.6042 7.1875-18.958v-4.2708zm56.979-14.062v66.562h-37.604v-17.292q-7.5 10.625-16.875 15.521-9.375 4.7917-22.812 4.7917-18.125 0-29.479-10.521-11.25-10.625-11.25-27.5 0-20.521 14.062-30.104 14.167-9.5833 44.375-9.5833h21.979v-2.9167q0-8.8542-6.9792-12.917-6.9792-4.1667-21.771-4.1667-11.979 0-22.292 2.3958t-19.167 7.1875v-28.438q11.979-2.9167 24.062-4.375 12.083-1.5625 24.167-1.5625 31.562 0 45.521 12.5 14.062 12.396 14.062 40.417z"/>
      <path d="m733.44 289.79q-7.7083 10.208-16.979 15-9.2708 4.7917-21.458 4.7917-21.354 0-35.312-16.771-13.958-16.875-13.958-42.917 0-26.146 13.958-42.812 13.958-16.771 35.312-16.771 12.188 0 21.458 4.7917t16.979 15.104v-17.292h37.5v104.9q0 28.125-17.812 42.917-17.708 14.896-51.458 14.896-10.938 0-21.146-1.6667-10.208-1.6667-20.521-5.1042v-29.062q9.7917 5.625 19.167 8.3333 9.375 2.8125 18.854 2.8125 18.333 0 26.875-8.0208 8.5417-8.0208 8.5417-25.104zm-24.583-72.604q-11.562 0-18.021 8.5417t-6.4583 24.167q0 16.042 6.25 24.375 6.25 8.2292 18.229 8.2292 11.667 0 18.125-8.5417 6.4583-8.5417 6.4583-24.062 0-15.625-6.4583-24.167t-18.125-8.5417z"/>
      <path d="m338.33 414.17v24.479h-20.625q-7.9167 0-11.042 2.9167-3.125 2.8125-3.125 9.8958v8.125h31.875v26.667h-31.875v90h-37.292v-90h-18.542v-26.667h18.542v-8.125q0-19.062 10.625-28.125 10.625-9.1667 32.917-9.1667z"/>
      <path d="m354.48 459.58h37.292v116.67h-37.292zm0-45.417h37.292v30.417h-37.292z"/>
      <path d="m427.81 414.17h37.292v162.08h-37.292z"/>
      <path d="m617.6 517.6v10.625h-87.188q1.3542 13.125 9.4792 19.688t22.708 6.5625q11.771 0 24.062-3.4375 12.396-3.5417 25.417-10.625v28.75q-13.229 5-26.458 7.5-13.229 2.6042-26.458 2.6042-31.667 0-49.271-16.042-17.5-16.146-17.5-45.208 0-28.542 17.188-44.896 17.292-16.354 47.5-16.354 27.5 0 43.958 16.562 16.562 16.562 16.562 44.271zm-38.333-12.396q0-10.625-6.25-17.083-6.1458-6.5625-16.146-6.5625-10.833 0-17.604 6.1458-6.7708 6.0417-8.4375 17.5z"/>
      <path d="m736.88 463.23v28.333q-11.979-5-23.125-7.5-11.146-2.5-21.042-2.5-10.625 0-15.833 2.7083-5.1042 2.6042-5.1042 8.125 0 4.4792 3.8542 6.875 3.9583 2.3958 14.062 3.5417l6.5625 0.9375q28.646 3.6458 38.542 11.979 9.8958 8.3333 9.8958 26.146 0 18.646-13.75 28.021t-41.042 9.375q-11.562 0-23.958-1.875-12.292-1.7708-25.312-5.4167v-28.333q11.146 5.4167 22.812 8.125 11.771 2.7083 23.854 2.7083 10.938 0 16.458-3.0208 5.5208-3.0208 5.5208-8.9583 0-5-3.8542-7.3958-3.75-2.5-15.104-3.8542l-6.5625-0.83333q-24.896-3.125-34.896-11.562t-10-25.625q0-18.542 12.708-27.5 12.708-8.9583 38.958-8.9583 10.312 0 21.667 1.5625 11.354 1.5625 24.688 4.8958z"/>
      <path d="m361.15 771.88v71.042h-37.5v-54.167q0-15.312-0.72917-21.042-0.625-5.7292-2.2917-8.4375-2.1875-3.6458-5.9375-5.625-3.75-2.0833-8.5417-2.0833-11.667 0-18.333 9.0625-6.6667 8.9583-6.6667 24.896v57.396h-37.292v-162.08h37.292v62.5q8.4375-10.208 17.917-15 9.4792-4.8958 20.938-4.8958 20.208 0 30.625 12.396 10.521 12.396 10.521 36.042z"/>
      <path d="m512.4 784.27v10.625h-87.188q1.3542 13.125 9.4792 19.688t22.708 6.5625q11.771 0 24.062-3.4375 12.396-3.5417 25.417-10.625v28.75q-13.229 5-26.458 7.5-13.229 2.6042-26.458 2.6042-31.667 0-49.271-16.042-17.5-16.146-17.5-45.208 0-28.542 17.188-44.896 17.292-16.354 47.5-16.354 27.5 0 43.958 16.562 16.562 16.562 16.562 44.271zm-38.333-12.396q0-10.625-6.25-17.083-6.1458-6.5625-16.146-6.5625-10.833 0-17.604 6.1458-6.7708 6.0417-8.4375 17.5z"/>
      <path d="m627.19 758.02q-4.8958-2.2917-9.7917-3.3333-4.7917-1.1458-9.6875-1.1458-14.375 0-22.188 9.2708-7.7083 9.1667-7.7083 26.354v53.75h-37.292v-116.67h37.292v19.167q7.1875-11.458 16.458-16.667 9.375-5.3125 22.396-5.3125 1.875 0 4.0625 0.20833 2.1875 0.10417 6.3542 0.625z"/>
      <path d="m762.4 784.27v10.625h-87.188q1.3542 13.125 9.4792 19.688 8.125 6.5625 22.708 6.5625 11.771 0 24.062-3.4375 12.396-3.5417 25.417-10.625v28.75q-13.229 5-26.458 7.5-13.229 2.6042-26.458 2.6042-31.667 0-49.271-16.042-17.5-16.146-17.5-45.208 0-28.542 17.188-44.896 17.292-16.354 47.5-16.354 27.5 0 43.958 16.562 16.562 16.562 16.562 44.271zm-38.333-12.396q0-10.625-6.25-17.083-6.1458-6.5625-16.146-6.5625-10.833 0-17.604 6.1458-6.7708 6.0417-8.4375 17.5z"/>
     </g>
    </svg>
  </section>
  <section id="files">
  </section>

  <script src="/static/client.js?v=<%=v%>"></script>
</body>
