<!doctype html>
<%- include("head"); %>
<body id="room">
  <nav id="main">
    <div id="main-left">
      <button id="menu" class="i-menu"></button>
    </div>
    <h1 id="name">kregfile - better than volafile - 100% more rice</h1>
    <div id="main-right"></div>
  </nav>

  <nav id="tools">
    <button id="filter-image" class="filterbtn i-image-b"></button>
    <button id="filter-video" class="filterbtn i-video-b"></button>
    <button id="filter-audio" class="filterbtn i-audio-b"></button>
    <button id="filter-document" class="filterbtn i-document-b"></button>
    <button id="filter-archive" class="filterbtn i-archive-b"></button>
    <button id="filter-file" class="filterbtn i-file-b"></button>
    <input id="filter" placeholder="Filter files…" type="text" autocomplete="off" required>
    <button id="filter-clear" class="disabled i-clear"></button>
    <div id="filter-status" class="i-filter"></div>
    <div class="spacer"></div>
    <div id="nail" class="btn i-images"></div>
    <form style="display: none;">
      <input id="upload-button" name="upload-button" type="file" multiple="multiple">
    </form>
    <label for="upload-button" id="up" class="btn i-upload"></label>
  </nav>

  <section id="chat">
    <section id="messages"></section>
  </section>

  <section id="status">
    <div id="connection" class="visible i-warning" title="No connection"></div>
    <div id="usercountcont" title="Users online">
      <span id="usercount-icon" class="i-users"></span>
      <span id="usercount">0</span>
    </div>
    <div id="endmarker" class="blink hidden" title="Go to new messages">▼</div>
    <div>
      <span id="user-icon" class="i-white"></span>
      <input type="text" id="nick">
    </div>
  </section>

  <section id="chatbox">
    <textarea id="text" placeholder="Chat…" rows="3" maxlength="300"></textarea>
  </section>

  <section id="dropminder">
  <svg version="1.1" viewBox="-25 -25 1050 1050" xmlns="http://www.w3.org/2000/svg">
   <rect width="1e3" height="1e3" rx="1e2" fill="none" stroke="#434343" stroke-dasharray="0, 600, 360, 0" stroke-dashoffset="-100" stroke-width="50px"/>
   <text id="dropper" x="510.76172" y="284.49219" fill="#434343" font-family="'Open Sans'" font-size="240px" font-weight="bold" text-align="center" text-anchor="middle" xml:space="preserve"><tspan y="285" text-align="center">Drop</tspan><tspan x="510" y="585" text-align="center">stuff</tspan><tspan x="511" y="885" text-align="center">here</tspan></text>
  </svg>
  </section>

  <section id="files">
  </section>

  <section id="gallery">
    <img id="gallery_img" alt="" src="/favicon.ico">
    <span id="gallery_title" class="gallery_text">title</span>
    <a id="gallery_close" class="i-clear"></a>
    <a id="gallery_prev" class="gallery_prevnext i-prev"></a>
    <a id="gallery_next" class="gallery_prevnext i-next"></a>
    <span id="gallery_info" class="gallery_text">shrekt kek</span>
  </section>

  <div id="preload"></div>
  <ul id="context-menu" style="display: none;">
    <li id="ctx-home" data-icon="kf">Home
    <li>-
    <li id="ctx-report" data-icon="i-report">Report this room
    <li id="ctx-options" data-icon="i-edit">Room options
    <li id="ctx-ban" data-icon="i-ban">Ban
    <li id="ctx-unban" data-icon="i-unban">Unban
    <li id="ctx-bl" data-icon="i-blacklist">Blacklist
    <li id="ctx-wl" data-icon="i-whitelist">Whitelist
    <li id="ctx-remove" data-icon="i-clear">Remove
    <li>-
    <li id="ctx-register" data-icon="i-users">Register
    <li id="ctx-login" data-icon="i-login">Log in
    <li id="ctx-account" data-icon="i-white">Account
    <li id="ctx-logout" data-icon="i-logout">Log out
  </ul>

  <form id="login-tmpl" class="tmpl">
    <span id="login-icon" class="i-login"></span>
    <label>User:</label>
    <input name="u" type="text" autocomplete="username">
    <label>Password:</label>
    <input name="p" type="password" autocomplete="current-password">
  </form>
  <script src="/static/client.js?v=<%=v%>"></script>
</body>
