<!doctype html>
<%- include("head"); %>
<body id="room">
  <nav id="main">
    <div>
      <button id="menu" class="i-menu"></button>
    </div>
    <h1 id="name">kregfile - better than volafile - 100% more rice</h1>
    <div></div>
  </nav>

  <nav id="tools">
    <button id="filter-image" class="filterbtn i-image-b"></button>
    <button id="filter-video" class="filterbtn i-video-b"></button>
    <button id="filter-audio" class="filterbtn i-audio-b"></button>
    <button id="filter-document" class="filterbtn i-document-b"></button>
    <button id="filter-archive" class="filterbtn i-archive-b"></button>
    <button id="filter-file" class="filterbtn i-file-b"></button>
    <input id="filter" placeholder="Filter files…" type="text" autocomplete="off" required>
    <button id="filter-clear" class="disabled i-clear"></button>
    <div id="filter-status" class="i-filter"></div>
    <div class="spacer"></div>
    <div id="nail" class="btn i-images"></div>
    <div id="up" class="btn i-upload"></div>
  </nav>

  <section id="chat">
    <section id="messages"></section>
  </section>

  <section id="status">
    <div id="usercountcont" title="Users online"><span class="i-users"></span><span id="usercount">0</span></div>
    <div id="endmarker" class="blink hidden" title="Go to new messages">▼</div>
    <input type="text" id="nick">
  </section>

  <section id="chatbox">
    <textarea id="text" placeholder="Chat…" rows="3" maxlength="300"></textarea>
  </section>

  <section id="files">
  </section>

  <script src="/static/client.js?v=<%=v%>"></script>
</body>
