<!doctype html>
<%- include("head"); %>
<body id="page">

<nav>
  <h1>The Rules</h1>
</nav>

<article>
  <span style="font-size: 100pt; display: inline-block; padding-left: 40px; float: right;"><span class="i-ban"></span></span>
  <p>Breaking any of these rules will get you banned, muted, your room closed and/or your files deleted. Moderators may also come to your home and eat your doner pizza without paying. Moderators are the ones deciding whether you broke any of the following rules, and rule enforcement is not a democracy, you don't get a vote on what's OK or not.</p>


  <ol style="text-align: justify; line-height: 1.5em;">
    <li>
      <strong>Forbidden content</strong><br>
      It is forbidden to link to or upload any content that is illegal to own or share.
      Uploading files that are named in a way that suggests illegal content or otherwise appear to be illegal is also forbidden.
      We'll rat you out to the popo, and you'll burn in hell for possessing such content, anyway.
      This is particularly true for any content where minors are harmed or otherwise abused.
    </li>

    <li>
      <strong>Copyrighted Content</strong><br>
      Don't, unless you have permission or a legal right (such as fair use) to share.<br>
      Please note that copyright exceptions such as "fair use" are narrowly defined by the law. Consult a lawyer if you're not sure if you have the right to share content.
    </li>

    <li>
      <strong>Doxing and/or revenge porn</strong><br>
      Don't!<br>
      Doxing is strictly not tolerated even if you have the permission of the "doxed" person.<br>
      Merely naming "famous" people - online or offline - is not considered doxing, publishing private information about them however is not OK.
    </li>

    <li>
      <strong>Spam/"Advertising"</strong><br>
      No! 'nuff said.
    </li>

    <li>
      <strong>Sharing "adult" content with minors/having "adult" chats with minors</strong><br>
      No. No excuses. Just no. And the police will be rather interested in what you're doing. Because again, we will rat you out.
      We do not care if you were just adults "roleplaying". We cannot know that, and in dubio con reo: we'll let your friendly local law enforcement figure out the rest.
    </li>

    <li>
      <strong>&gt;Harming the staff</strong><br>
      Should you insult, provoke or try to harm a moderator in any way, the consequences are up to them. They might laugh it off or they might ban and mute you. You can't expect moderators to put up with your bullshit.
    </li>

    <li>
      <strong>Local rules</strong><br>
      Room owners may specify <em>additional</em> rules regarding what type of chat and content is appropriate in their rooms. They are entitled to kick you out for whatever reason they please. If you don't like that, make your own room with your own rules.
      Should you insist on violating local room rules repeatedly, our moderators may step in and ban you from the entire platform.
    </li>
  </ol>

  </article>
  <%- include("footer"); %>
</body>
