<!doctype html>
<%- include("head"); %>
<body id="page">

<nav>
  <h1>Terms of Service and Privacy Policy</h1>
</nav>

<article id="terms">
  <h2>Terms of Service</h2>
  <span style="font-size: 100pt; display: inline-block; padding-left: 40px; float: right;"><span class="i-ban"></span></span>
  <p>By using our service you agree to the following</p>

  <ol style="text-align: justify; line-height: 1.5em;">
    <li>
      <strong>Content</strong><br>
      You agree that you will not share illegal content and/or information.<br>
      Please consult <a href="/rules">our Rules</a> for further classes of prohibited data and/or information.
    </li>

    <li>
      <strong>Ownership of Content</strong><br>
      You agree to only upload content and/or share information you have a right to distribute. By uploading or sharing information, no ownership is transferred, and you assume liability for everything you share.
    </li>

    <li>
      <strong>Distribution</strong><br>
      You allow us to distribute content you upload and/or information you share to other users.
    </li>

    <li>
      <strong>Storage</strong><br>
      You allow us to store any files you upload for the duration these files are visible in the Room to which you uploaded.
    </li>
  </ol>

</article>

<article id="privacy">
  <h2>Privacy Policy</h2>
  <ol style="text-align: justify; line-height: 1.5em;">
    <li>
      <strong>General Data Collection</strong><br>
      We collect as little data as possible, and do not share or sell any data, unless ordered by a court or upon official and lawful police requests.
    </li>

    <li>
      <strong>Profile data</strong><br>
      Should you choose to register an account, we will only store whatever you entered yourself (which can be changed at any point by you).
      We do not keep any data beyond that, e.g. we do not keep any access or upload logs.
    </li>

    <li>
      <strong>Cookies</strong><br>
      In order to kept you logged in and secure and/or remember which rooms are yours, we use cookies. We do not use cookies for any other purposes.
    </li>

    <li>
      <strong>Files</strong><br>
      Files are only stored for the duration they are visible in a Room. We do not keep any copies nor any associated meta-data after a file expires or was manually removed.
    </li>

    <li>
      <strong>Chat protocol and history</strong><br>
      We do not log chats at all. Messages are only present in our system while they are delivered, i.e. for a few seconds, and removed afterwards.<br>
      The chat history you may see when reopening a room is entirely stored in your own browser, and can be removed with the privacy tools your browser may provide.
    </li>


    <li>
      <strong>Exception</strong><br>
      If an automated system or moderator has to take action against you for violating our Terms or Rules or otherwise try to abuse or harm our systems, we will retain a record of that activity indefinitely.<br>
      This record may include your user name, IP address, file names and/or hashes, and other related information.<br>
      We will not share this data either, unless ordered by a court or upon a lawful police request<br>
    </li>

  </ol>

  </article>
  <%- include("footer"); %>
</body>
