@font-face {
  font-family: 'symbols';
  src:
    url('fonts/symbols.ttf?jpwjf2') format('truetype'),
    url('fonts/symbols.woff?jpwjf2') format('woff'),
    url('fonts/symbols.svg?jpwjf2#symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'symbols' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-down:before {
  content: "\e91d";
}
.i-arrow-up:before {
  content: "\e91e";
}
.i-white:before {
  content: "\e919";
}
.i-green:before {
  content: "\e91a";
}
.i-purple:before {
  content: "\e91b";
}
.i-logout:before {
  content: "\e90f";
}
.i-login:before {
  content: "\e910";
}
.i-report:before {
  content: "\e912";
}
.i-users:before {
  content: "\e907";
}
.i-twatter:before {
  content: "\e904";
}
.i-gitgud:before {
  content: "\e905";
}
.i-menu:before {
  content: "\e906";
}
.i-file-b:before {
  content: "\e901";
}
.i-document-b:before {
  content: "\e902";
}
.i-image-b:before {
  content: "\e90d";
}
.i-video-b:before {
  content: "\e913";
}
.i-audio-b:before {
  content: "\e911";
}
.i-video-camera:before {
  content: "\e914";
}
.i-archive-b:before {
  content: "\e903";
}
.i-file:before {
  content: "\e924";
}
.i-wait:before {
  content: "\e979";
}
.i-download:before {
  content: "\e9c2";
}
.i-upload:before {
  content: "\e9c3";
}
.i-upload-done:before {
  content: "\e9c4";
}
.i-warning:before {
  content: "\e90c";
}
.i-info:before {
  content: "\e91c";
}
.i-information:before {
  content: "\e91c";
}
.i-error:before {
  content: "\ea0d";
}
.i-clear:before {
  content: "\e908";
}
.i-pref:before {
  content: "\e994";
}
.i-filter:before {
  content: "\e909";
}
.i-funnel:before {
  content: "\e909";
}
.i-images:before {
  content: "\e90e";
}
.i-whitelist:before {
  content: "\e915";
}
.i-blacklist:before {
  content: "\e916";
}
.i-unban:before {
  content: "\e917";
}
.i-ban:before {
  content: "\e900";
}
.i-document:before {
  content: "\e926";
}
.i-image:before {
  content: "\e927";
}
.i-audio:before {
  content: "\e928";
}
.i-video:before {
  content: "\e92a";
}
.i-archive:before {
  content: "\e92b";
}
.i-clock:before {
  content: "\e94d";
}
.i-prev:before {
  content: "\e90a";
}
.i-next:before {
  content: "\e90b";
}
.i-edit:before {
  content: "\e918";
}
