:root {
  --main-bg: #333333;
  --text-fg: #fefefe;
  --dark-fg: #aeaeae;
  --dark-bg: #101010;
  --lite-bg: #4f4f4f;
  --hi-fg: #f4f3f3;
  --hi-bg: #282828;
  --odd-bg: #202020;
  --sel-bg: #444444;
  --odd-sel-bg: #555555;
  --upload-bg: rgb(66, 66, 66);
  --err-bg: #f75353;
  --role-user-fg: #23d16f;
  --role-mod-fg: #d880fc;
  --role-system-fg: #ff6c00;
  --base-size: 12pt;
  --base-font: 'Open Sans', sans-serif;
  --files-size: 11pt;
  --detail-size: 8pt;
}

html {
  font-size: var(--base-size);
  font-family: var(--base-font);
  background: var(--dark-bg);
  color: var(--text-fg);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: var(--dark-fg);
  transition: color 1s;
}

a:hover {
  color: var(--text-fg);
}

a:focus, a:active {
  outline: none !important;
}

body#room {
  background: var(--main-bg);
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  grid-template-columns: 1fr 1ex 2fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "nav splitter tools"
    "chat splitter files"
    "status splitter files"
    "chatbox splitter files";
}

body#page {
  display: flex;
  margin: 0;
  background: var(--dark-bg);
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

nav {
  background: var(--main-bg);
  margin: 0;
  padding: 0 1ex;
  grid-area: nav;
  align-self: center;
  border-bottom: 1px solid rgba(128,128,128,0.4);
  height: 100%;
}

article {
  margin: 0;
  padding: 1ex 1ex;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  max-width: 800px;
  backface-visibility: hidden;
}

article p {
  text-align: justify;
}

q {
  font-style: italic;
}

figure {
  text-align: center;
}

figcaption {
  font-size: small;
}

ol > li {
  margin-bottom: 1ex;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--lite-bg);
}

table, th {
  border: 1px solid var(--lite-bg);
}

th {
  background: var(--main-bg);
}

td {
  border: 1px dotted var(--lite-bg);
}

td, th {
  padding: 0.3ex 1em;
}

#room h1 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

#page > nav {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(
    184deg,
    var(--dark-bg),
    var(--main-bg) 30%,
    var(--main-bg) 60%,
    var(--lite-bg)
  );
  border: 0;
}

button {
  display: block;
  border: 0;
  margin: 0;
  padding: 0.7ex;
  font-size: var(--base-size);
  transition: background 1s, outline 1s ease-in;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.8);
  color: black;
}

button:hover,
button:focus {
  box-shadow:  0px 0px 2px 1px rgba(0,0,0,0.5);
  background-color: rgb(255,255,255);
  outline: 0;
}

#page h1 {
  margin: 1ex 0.5ex;
  width: 800px;
  text-align: center;
}

#room > nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#room > nav#main > div {
  width: 3ex;
}

#menu {
  background: rgba(255,255,255,0.9);
  color: black;
}

#menu:hover {
  background: rgba(255,255,255,0.7);
}

.hr {
  margin: 1ex 2em !important;
  padding: 0 !important;
  border: 1px solid var(--dark-fg);
}

.hidden {
  display: none !important;
}

.blink {
  animation: opulse 5s infinite ease-in;
}

#room > #tools {
  margin: 0;
  padding: 0;
  height: 100%;
  grid-area: tools;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filterbtn {
  margin-right: 1ex;
  overflow: hidden;
  background: rgba(128,128,128, 0.4);
  transition: background 0.5s, color 0.5s ease-in;
  color: var(--text-fg);
  font-size: var(--base-size);
  width: 32px;
  text-align: center;
}

.filterbtn:hover {
  background: rgba(128,128,128, 0.8) !important;
}

.filterbtn.disabled {
  background: transparent;
  color: var(--dark-fg);
  box-shadow: none;
}

#filter {
  color: white;
  background: black;
  border: 0;
  padding: 4px 1ex;
  user-select: none;
  outline: 0;
}

#filter:active,
#filter:focus,
#filter:valid {
  transition: flex 0.5s ease-out;
  flex: 5;
}

#filter:required,
#filter:invalid {
  box-shadow: none;
}

#filter-clear {
  margin-left: 0.4ex;
  font-size: 10pt;
  background: transparent;
  color: var(--text-fg);
}

#filter-clear.disabled {
  display: none;
}

#new-status,
#filter-status {
  margin-left: 2em;
  font-size: xx-small;
}

#filter-status {
  font-family: var(--base-font) !important;
}

#filter-status.i-filter:before {
  /* stylelint-disable */
  font-family: 'symbols';
  /* stylelint-enable */
  display: inline-block;
  margin-right: 1ex;
}

#new-status {
  cursor: pointer;
}

#tools .spacer {
  flex: 5;
}

#tools .btn {
  font-size: 12pt;
  width: 32px;
  text-align: center;
  background: rgba(255,255,255,0.7);
  color: black;
  height: cal(100% - 1ex);
  padding: 0.5ex;
  margin-top: 0.5ex;
  margin-left: 0.7ex;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  transition: 0.5s background ease-in;
  align-self: flex-end;
}

#tools .btn:hover {
  background: rgba(255,255,255,0.9);
}

#tools .btn:last-child {
  font-size: 16pt;
  width: 38px;
  border-top-right-radius: 0px;
  margin-left: 1em;
}

#trash,
#clearselection {
  display: none;
}

.mod #trash,
.mod #clearselection,
.owner #trash,
.owner #clearselection {
  display: block;
}

.layer {
  backface-visibility: hidden;
  transform: translateZ(0);
}

.scroller {
  width: 10px;
  height: 100%;
  z-index: 1000;
  justify-self: end;
  align-self: stretch;
  overflow: hidden;
}

.scrollbar {
  position: relative;
  background: white;
  border-radius: 8px;
  display: block;
  width: 100%;
  opacity: 0.05;
  cursor: pointer;
  transition: 0.3s opacity ease-in;
}

.scrollbar:hover {
  opacity: 0.7 !important;
}

.scroller:hover .scrollbar {
  opacity: 0.3;
}

.regular .modctrl {
  display: none !important;
}

#chat {
  grid-area: chat;
  overflow: hidden;
  background: var(--dark-bg);
  min-width: 380px;
}

#chat-scroller {
  grid-area: chat;
}

#messages {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 0.3em 0 0.5em 0;
  box-sizing: border-box;
  background: var(--dark-bg);
}

#messages > div {
  padding: 0.3ex 1ex;
  padding-left: 2ex;
  text-indent: -1ex;
}

#messages > div > * {
  text-indent: initial;
}

.chatfile {
  border-radius: .2em;
  border-radius: .2em/2px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4em;
  text-align: center;
  padding: 0.2ex 1ex;
  text-decoration: none;
  background-color: var(--main-bg);
  border: 1px solid var(--odd-bg);
  margin-bottom: 2px
}

.chatfile .icon {
  display: inline-block;
  margin-right: 0.5ex;
}

.u {
  display: inline-block;
  font-weight: bold;
  padding-right: 1ex;
  white-space: nowrap;
  color: var(--dark-fg);
  text-decoration: none;
}

.msg .u {
  padding: 0;
}

.u > .time {
  display: inline-block;
  font-weight: normal;
  padding-right: 1ex;
  font-size: x-small;
  -moz-user-select: none;
  user-select: none;
}

.u.system {
  color: var(--role-system-fg);
}

.u.user {
  color: var(--role-user-fg);
}

.u.mod {
  color: var(--role-mod-fg);
}

.u > .ban-btn {
  color: var(--text-fg);
  display: inline-block;
  font-size: 6pt;
  vertical-align: top;
  opacity: 0.3;
}

.u > .role,
.u > .i-owner {
  display: inline-block;
  width: 16px;
  padding-right: 0.5ex;
  text-align: center;
  opacity: 0.7;
}

.u > .ban-btn:hover {
  opacity: 0.9;
}

.channel {
  display: inline-block;
  margin-left: 1em;
  font-size: small;
  font-style: italic;
  user-select: none;
  cursor: unset;
  opacity: 0.7;
}

#messages > * {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#messages > .hi {
  color: var(--hi-fg);
  background: var(--hi-bg);
}

#messages > .me {
  font-style: italic;
}

#status {
  display: flex;
  padding: 3px;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  grid-area: status;
  font-size: x-small;
  text-align: right;
}

#status > * {
  margin-left: 3ex;
}

#status > div {
  user-select: none;
}

#ips {
  cursor: pointer;
}

#connection {
  display: none;
}

#connection.visible {
  display: block;
}

#usercount {
  display: inline-block;
  margin-left: 1ex;
}

#user-icon {
  color: white;
  display: inline-block;
  margin-right: 0.8ex;
}

#user-icon.user {
  color: var(--role-user-fg);
}

#user-icon.mod {
  color: var(--role-mod-fg);
}

#nick {
  color: var(--text-fg);
  background: var(--dark-bg);
  border: 1px solid var(--dark-bg);
  border-left-width: 3px;
  outline: none;
  box-shadow: none;
}

#endmarker {
  cursor: pointer;
}

#chatbox {
  grid-area: chatbox;
}

#text {
  display: block;
  width: calc(100% - 2ex);
  margin: 0;
  padding: 6px 1ex;
  padding-left: 1ex;
  border: 0;
  resize: none;
  color: var(--text-fg);
  background: var(--dark-bg);
  outline: none;
  box-shadow: none;
  font-family: var(--base-font);
  font-size: 14px;
}

#splitter {
  grid-area: splitter;
  cursor: col-resize;
}

#splitter.dragging {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.3ex;
  z-index: 100000;
}

#filelist {
  font-size: var(--files-size);
  grid-area: files;
  background: var(--dark-bg);
  overflow: hidden;
  user-select: none;
}

#filelist-scroller {
  grid-area: files;
}

#files {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}

.empty #filelist,
.empty #filelist-scroller {
  opacity: 0.3;
}

#dropminder {
  grid-area: files;
  background: var(--dark-bg);
  padding: 10vh 10%;
}

#dropminder svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.empty rect {
  animation: 5s linear infinite spin, 10s ease-in infinite opulse;
  transform-origin: 50% 50% 0px;
}

.gallery #filelist {
  filter: blur(5px);
}

#gallery {
  grid-area: files;
  display: none;
  z-index: 2000;
  background: rgba(0,0,0,0.6);
  overflow: hidden;
  grid-template-columns: 5em 1fr 5em;
  grid-template-rows: auto 1fr auto;
  user-select: none;
}

#gallery > * {
  cursor: pointer;
}

.gallery #gallery {
  display: grid;
}

#gallery_img {
  display: block;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.gallery_text {
  padding: 0.3ex 1em;
  border-radius: 16px;
  background: rgba(30, 30, 30, 0.7);
  user-select: none;
  font-size: small;
}

#gallery_title {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  justify-self: center;
  align-self: flex-start;
  margin-top: -10em;
  transition: 0.3s margin-top linear;
}

.aux #gallery_title {
  margin-top: 1em;
}

.gallery_prevnext {
  display: block;
  grid-row: 1 / span 3;
  font-size: 30pt;
  justify-self: stetch;
  background: rgba(30,30,30,0.05);
  color: rgba(220,220,220,0.3);
  align-self: center;
  cursor: pointer;
  user-select: none;
  transition: 0.3s color ease-in, 0.5s background ease-in;
}

.gallery_prevnext:hover {
  color: rgba(220,220,220,0.7);
  background: rgba(30,30,30,0.9);
}

#gallery_prev {
  grid-column: 1;
  justify-self: flex-start;
  padding-left: 0.5ex;
  padding-right: 1ex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#gallery_next {
  grid-column: 3;
  justify-self: flex-end;
  text-align: right;
  padding-right: 0.5ex;
  padding-left: 1ex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#gallery_close {
  grid-column: 3;
  grid-row: 1;
  justify-content: center;
  align-self: center;
  margin-top: 2ex;
}

#gallery_info {
  grid-column: 2 / span 2;
  grid-row: 3;
  text-align: right;
  justify-self: right;
  margin: 4ex;
  margin-bottom: -10ex;
  transition: 0.3s margin-bottom linear;
  pointer-events: none;
}

.aux #gallery_info {
  margin-bottom: 4ex;
}

#files > .file {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 4px 1ex;
  border: 1px dotted rgba(128, 128, 128, 0.1);
}

#files > .file:nth-child(even) {
  background: var(--odd-bg);
}

#files > .file.selected {
  background: var(--sel-bg) !important;
}

#files > .file.selected:nth-child(even) {
  background: var(--odd-sel-bg) !important;
}

#files > .file.hidden-file .name {
  text-decoration: line-through !important;
}

#files > .file.upload {
  background: var(--upload-bg);
  background-image: repeating-linear-gradient(
    60deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 20px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.3) 40px
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

#files > .file.upload > .icon.abort {
  cursor: pointer;
}

#files > .file.error {
  background: var(--err-bg);
}

#files > .file a,
#files > .file span {
  display: inline-block;
  padding-right: 1ex;
  color: var(--text-fg);
  text-decoration: none;
  white-space: nowrap;
}

#files > .file a:hover {
  color: var(--dark-fg);
}

#files > .file > .name {
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#files > .file > .tags {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  padding: 0 1em;
  max-width: 66%;
  overflow-x: hidden;
}

#files > .file > .tags > .tag {
  font-size: xx-small;
  background: rgba(128, 128, 128, 0.4);
  padding: 1px 0.8ex;
  margin-left: 1.1ex;
  cursor: pointer;
  max-width: 25ex;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.noips .tag-ip {
  display: none !important;
}

.icon.i-image {
  color: lightskyblue !important;
}

.icon.i-video {
  color: yellowgreen !important;
}

.icon.i-document {
  color: lightsalmon !important;
}

.icon.i-archive {
  color: bisque !important;
}

.icon.i-audio {
  color: orchid !important;
}

#files > .file > .i-upload {
  animation: opulse 2s infinite ease-in;
}

#files > .file > .i-wait {
  opacity: 0.5;
}

#files > .file > .detail {
  display: flex;
  width: 170px;
  white-space: nowrap;
}

#files > .file > .detail,
#files > .file > .detail-progress {
  font-size: var(--detail-size);
}

#files > .file > .detail > span {
  display: inline-block;
  border-left: 2px solid rgba(128,128,128,0.5);
  padding-left: 1ex;
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#files > .file > .detail > .ttl {
  flex: 3;
}

.tooltip {
  visibility: hidden;
  font-size: 90%;
  display: grid;
  position: fixed;
  z-index: 1000;
  padding-bottom: 1em;
  background: var(--main-bg);
  border: 1px solid var(--lite-bg);
  border-left-width: 1ex;
  border-top-left-radius: 1ex;
  border-bottom-right-radius: 1ex;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: repeat(10, auto);
}

.tooltip.visible {
  visibility: visible;
  animation-name: toolfadein;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.tooltip > * {
  display: block;
  padding-right: 1em;
  white-space: nowrap;
}

.tooltip-name {
  grid-row: 1;
  grid-column: 1 / span 4;
  padding: 0.5ex 1em;
  margin-bottom: 1em;
  max-width: 40em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  background: var(--lite-bg);
}

.tooltip-tag-tag {
  grid-column: 2;
  align-self: end;
  line-height: 166%;
  padding-left: 1em;
}

.tooltip-tag-value {
  grid-column: 3;
  max-width: 20em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-self: end;
  line-height: 166%;
}

.tooltip-name,
.tooltip-tag-value {
  font-weight: bold;
}

.tooltip-preview {
  display: inline-block;
  line-height: 100%;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 0;
  max-width: 200px;
  max-height: 200px;
  grid-column: 1;
  grid-row: 2;
  grid-row-end: -1;
}

span.tooltip-preview:before {
  color: var(--role-user-fg);
  font-size: 80px;
  line-height: 80px;
}

span.tooltip-preview.mod:before {
  color: var(--role-mod-fg);
}

.tooltip-user img {
  max-width: 100px;
}

@keyframes spin {
  50% {
    transform: scale(0.9);
  }
}

@keyframes opulse {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes toolfadein {
  0% {
    opacity: 0;
    border-color: var(--main-bg);
    background-color: var(--lite-bg);
  }

  100% {
    opacity: 1;
  }
}

footer {
  padding: 1.5em 2em;
  font-size: small;
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  background: linear-gradient(
    2deg,
    var(--dark-bg),
    var(--main-bg)
  );
}

footer > * {
  display: inline-block;
  margin-left: 2em;
}

footer a {
  display: inline-block;
  text-decoration: none;
}

footer > * > a {
  margin-left: 2px;
}

#preload {
  width: 0px !important;
  height: 0px !important;
  display: inline;
  background-image: url(loader.png), url();
}

.tmpl {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
#page textarea {
  background: var(--main-bg);
  color: var(--text-fg);
  border: 0;
  padding: 2px 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid var(--lite-bg) !important;
}

#page textarea {
  width: 100%;
  min-height: calc(7px + 4em);
}

#page #register {
  margin-left: auto;
  margin-right: auto;
  max-width: 60ex;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
  grid-row-gap: 1ex;
}

#page label {
  font-size: small;
}

#page #submit {
  grid-column: 1 / span 2;
  justify-self: center;
}

#page #account {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
  grid-row-gap: 2ex;
}

#page #account h3 {
  margin: 0;
  margin-bottom: 1ex;
}

#page label[for="msg"],
#page #account #msg {
  grid-column: 1 / span 2;
}

#page #userprofile {
  max-width: 70ex;
  min-width: 55ex;
  word-wrap: break-word;
}

#page #userprofile #avatar {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#page #userprofile span#avatar:before {
  font-size: 200px;
}

#page #userprofile #message {
  white-space: pre;
}

ul.context-menu,
ul.context-menu ul {
  font-size: 16px !important;
  position: fixed;
  min-width: 20ex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 2px;
  background: rgba(255,255,255,0.9);
  color: black;
}

.context-menu-item {
  cursor: pointer;
  display: flex;
  padding: 4px 1ex;
  vertical-align: middle;
}

.context-menu-item > * {
  display: inline-block;
  flex: 0 0 auto;
  vertical-align: middle;
  margin: auto;
}

.context-menu-item:hover:not(.context-menu-seperator) {
  background: var(--lite-bg);
  color: white;
}

.context-menu-item.disabled,
.context-menu-item.disabled > * {
  color: lightgray !important;
  pointer-events: none;
}

.context-menu-seperator {
  border-bottom: 1px solid darkgray;
  box-shadow: 0px 1px 0px 0px rgba(220,220,220,0.5);
  margin-left: 1ex;
  margin-right: 1ex;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0;
  pointer-events: none;
}

.context-menu-seperator > * {
  display: none !important;
}

.context-menu-icon {
  width: 16px;
  height: 16px;
  padding-left: 0;
  padding-right: 0.3ex;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
  margin-right: 4px;
}

.context-menu-text {
  flex: 1 1;
  margin-right: 1ex;
}

.context-menu-expand {
  margin-left: 1.2em;
  font-size: 10px;
}

#ctx-options {
  display: none;
}

.owner #ctx-options,
.mod #ctx-options {
  display: block;
}

.authed #ctx-register,
.authed #ctx-login {
  display: none;
}

.unauthed #ctx-account,
.unauthed #ctx-logout {
  display: none;
}

.modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 3000;
}

.modal {
  background: var(--main-bg);
  max-width: 80%;
  max-height: 90%;
  border-left: 4px solid var(--lite-bg);
  border-right: 4px solid var(--lite-bg);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  box-shadow: 4px 4px 20px rgba(200,200,200,0.1);
}

.modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"],
.modal select,
.modal textarea {
  background: var(--dark-bg);
  color: var(--text-fg);
  border: 0;
  padding: 2px 10px;
}

.modal .icon {
  width: 64px;
  font-size: 64px;
  margin-right: 20px;
  grid-area: icon;
}

.modal .wide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  grid-column-end: span 2;
}

.modal-head {
  padding: 0.5ex 1em;
  margin-bottom: 1ex;
  background: var(--lite-bg);
  font-size: 110%;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal-body {
  font-size: 95%;
  text-overflow: ellipsis;
  padding: 0.5ex 1em;
}

.modal-body button {
  margin-right: 1em;
  font-size: small;
}

.modal-buttons {
  display: flex;
  user-select: none;
  padding: 1ex 1em;
  margin-top: 1ex;
  background: var(--lite-bg);
  justify-self: stretch;
  justify-content: flex-end;
}

.modal-button {
  margin-left: 1em;
  opacity: 0.9;
}

.modal-messagebox .modal-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}

.modal-button-default {
  opacity: 1;
}

.modal-button-cancel {
  opacity: 0.7;
}

.modal-messagebox-icon {
  font-size: 64px;
}

.modal-login .modal-body,
.modal-optsdlg .modal-body,
.modal-bandlg .modal-body,
.modal-unbandlg .modal-body,
.modal-bldlg .modal-body {
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  min-width: 60ex;
  grid-column-gap: 1ex;
}

.modal-login .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 1.3ex;
}

.modal-optsdlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 1.3ex;
}


.modal-bandlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 0.4em;
  grid-column-gap: 1em;
}

.modal-unbandlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 0.4em;
  grid-column-gap: 1em;
}

.modal-bldlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 0.4em;
  grid-column-gap: 1em;
}

.modal .userlist {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-bg);
  height: 10em;
  overflow-x: none;
  overflow-y: scroll;
  padding: 0.2ex 1ex;
}

.modal .userlistitem {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3ex 0;
  box-sizing: border-box;
}

.modal .userlistitem button {
  font-size: xx-small;
  margin: 0;
}

.modal .usersdesc {
  max-width: 70ex;
}

.kf {
  background-image: url("favicon.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 16px;
  width: 16px;
}

#toplist {
  min-width: 70ex;
}

#toplist tr :first-child {
  white-space: nowrap;
  text-align: right;
  width: 2ex;
}

#toplist tr :last-child {
  white-space: nowrap;
  text-align: right;
  width: 2ex;
}

#toplist-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
