#filelist {
  font-size: var(--files-size);
  grid-area: files;
  background: var(--dark-bg);
  overflow: hidden;
  user-select: none;
}

#filelist-scroller {
  grid-area: files;
}

#files {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}

.empty #filelist,
.empty #filelist-scroller {
  opacity: 0.3;
}

#dropminder {
  grid-area: files;
  background: var(--dark-bg);
  padding: 10vh 10%;
}

#dropminder svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: auto;
}

/* because firefox
.empty rect {
  animation: 5s linear infinite spin, 10s ease-in infinite opulse;
  transform-origin: 50% 50% 0px;
}
*/

#files > .file {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 4px 1ex;
  border: 1px dotted rgba(128, 128, 128, 0.1);
}

#files > .file:nth-child(even) {
  background: var(--odd-bg);
}

#files > .file.selected {
  background: var(--sel-bg) !important;
}

#files > .file.selected:nth-child(even) {
  background: var(--odd-sel-bg) !important;
}

#files > .file.hidden-file .name {
  text-decoration: line-through !important;
}

#files > .file.upload {
  background: var(--upload-bg);
  background-image: repeating-linear-gradient(
    60deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 20px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.3) 40px
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

#files > .file.upload > .icon.abort {
  cursor: pointer;
}

#files > .file.error {
  background: var(--err-bg);
}

#files > .file a,
#files > .file span {
  display: inline-block;
  padding-right: 1ex;
  color: var(--text-fg);
  text-decoration: none;
  white-space: nowrap;
}

#files > .file a:hover {
  color: var(--dark-fg);
}

#files > .file > .name {
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#files:not(.gallerymode) > .file .galleryonly {
  display: none;
}

#files > .file > .tags {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  padding: 0 1em;
  max-width: 66%;
  overflow-x: hidden;
}

#files > .file > .tags > .tag {
  font-size: xx-small;
  background: rgba(128, 128, 128, 0.4);
  padding: 1px 0.8ex;
  margin-left: 1.1ex;
  cursor: pointer;
  max-width: 25ex;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.tags > .tag-user {
  background: rgba(90, 160, 90, 0.4) !important;
}

#files > .file > .i-upload {
  animation: opulse 2s infinite ease-in;
}

#files > .file > .i-wait {
  opacity: 0.5;
}

#files > .file > .detail {
  display: flex;
  width: 170px;
  white-space: nowrap;
}

#files > .file > .detail,
#files > .file > .detail-progress {
  font-size: var(--detail-size);
}

#files > .file > .detail > span {
  display: inline-block;
  border-left: 2px solid rgba(128,128,128,0.5);
  padding-left: 1ex;
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#files > .file > .detail > .ttl {
  flex: 3;
}

#files.gallerymode {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

#files.gallerymode > .file:not(.upload) {
  background-color: rgb(255, 255, 255, 0.1) !important;
  display: grid !important;
  width: 250px !important;
  height: 320px !important;
  margin: 1ex;
  padding: 1ex 1em;
  border: 2px solid rgb(255, 255, 255, 0.3) !important;
  border-radius: 6px;
  column-gap: 1ex;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  grid-template-areas: 
    'icon name'
    'preview preview'
    'tags tags'
    'detail detail'
    ;
  justify-items: center;
}

#files.gallerymode > .file.selected:not(.upload) {
  background-color: rgb(255, 255, 255, 0.2) !important;
  border: 2px solid rgb(255, 255, 255, 0.9) !important;
}

#files.gallerymode > .file:not(.upload) > * {
  margin: 0 !important;
  padding: 0 !important;
}

#files.gallerymode > .file:not(.upload) .icon {
  grid-area: icon;
  justify-self: end;
  width: auto;
  height: auto;
}

#files.gallerymode > .file:not(.upload) .name {
  grid-area: name;
  width: auto;
  max-width: 100%;
  height: auto;
  text-overflow: ellipsis;
}

#files.gallerymode .preview {
  grid-area: preview;
  justify-self: stretch;
  align-self: stretch;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#files.gallerymode .preview video,
#files.gallerymode .preview img {
  max-width: 200px;
  max-height: 200px;
}

#files.gallerymode .preview .faticon {
  font-size: 160px;
  padding: 0;
  margin: 0;
}

#files.gallerymode > .file:not(.upload) .detail {
  grid-area: detail;
  display: block;
  width: auto;
  height: auto;
  text-align: end;
  justify-self: end;
  white-space: normal;
  max-width: 100%;
}
#files.gallerymode > .file:not(.upload) > .detail > span {
  border: 0;
  padding: 0;
  padding-left: 1em;
  margin: 0;
}

#files.gallerymode > .file:not(.upload) .tags {
  grid-area: tags;
  text-align: end;
  justify-self: end;
  width: auto;
  height: auto;
}

@keyframes spin {
  50% {
    transform: scale(0.9);
  }
}
