.modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 3000;
}

.modal {
  background: var(--main-bg);
  max-width: 80%;
  max-height: 90%;
  border-left: 4px solid var(--lite-bg);
  border-right: 4px solid var(--lite-bg);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  box-shadow: 4px 4px 20px rgba(200,200,200,0.1);
}

.modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"],
.modal input[type="number"],
.modal select,
.modal textarea {
  background: var(--dark-bg);
  color: var(--text-fg);
  border: 0;
  padding: 2px 10px;
}

.modal .icon {
  width: 64px;
  font-size: 64px;
  margin-right: 20px;
  grid-area: icon;
}

.modal .wide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  grid-column-end: span 2;
}

.modal-head {
  padding: 0.5ex 1em;
  margin-bottom: 1ex;
  background: var(--lite-bg);
  font-size: 110%;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal-body {
  font-size: 95%;
  text-overflow: ellipsis;
  padding: 0.5ex 1em;
  overflow-y: auto;
}

.modal-body button {
  margin-right: 1em;
  font-size: small;
}

.modal-buttons {
  display: flex;
  user-select: none;
  padding: 1ex 1em;
  margin-top: 1ex;
  background: var(--lite-bg);
  justify-self: stretch;
  justify-content: flex-end;
}

.modal-button {
  margin-left: 1em;
  opacity: 0.9;
}

.modal-messagebox .modal-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}

.modal-button-default {
  opacity: 1;
}

.modal-button-cancel {
  opacity: 0.7;
}

.modal-messagebox-icon {
  font-size: 64px;
}

.modal-helpdlg .modal-body,
.modal-login .modal-body,
.modal-optsdlg .modal-body,
.modal-bandlg .modal-body,
.modal-unbandlg .modal-body,
.modal-bldlg .modal-body {
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  min-width: 60ex;
  grid-column-gap: 1ex;
}

.modal-helpdlg .modal-body {
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon ." "icon ." "icon .";
}

.modal-login .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 1.3ex;
}

.modal-optsdlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 1.3ex;
}

.modal-bandlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 0.4em;
  grid-column-gap: 1em;
}

.modal-unbandlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 0.4em;
  grid-column-gap: 1em;
}

.modal-bldlg .modal-body {
  grid-template-areas:
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . ."
    "icon . .";
  grid-row-gap: 0.4em;
  grid-column-gap: 1em;
}

.modal .userlist {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-bg);
  height: 10em;
  overflow-x: none;
  overflow-y: scroll;
  padding: 0.2ex 1ex;
}

.modal .userlistitem {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3ex 0;
  box-sizing: border-box;
}

.modal .userlistitem button {
  font-size: xx-small;
  margin: 0;
}

.modal .usersdesc {
  max-width: 70ex;
}
